extends ./layout

append content
    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center p-2 mb-3 border-bottom")
        h1(class="fw-bold") A pagina não pode ser exibida por causa de um erro.
    p(class="p-2") #{message}
    script.
        console.log(`Error: ${JSON.stringify(`#{error}`)}`)