# Folders
**/node_modules/**
**/public/stylesheets/**.min**
**/public/javascripts/**.min**
**/public/assets/hls/**
**/log/**
**/db/**

# Developer
**/test/**
*.test*
*.env
*ecosystem.config.js

# Common Configurations

# Audio
*.wav
*.mp3
*.wma

# Video
*.wmv
*.mpg
*.mpeg
*.mp4
*.mov
*.flv
*.avi
*.ogv
*.ogg
*.webm