# Folders
**/node_modules/**
**/public/javascripts/public/**
**/public/assets/hls/**
**/log/**
**/db/**

# Developer
**/test/**
*.test*
*.env*

# Common Configurations

# Audio
*.wav*
*.mp3*
*.wma*

# Video
*.wmv*
*.mpg*
*.mpeg*
*.mp4*
*.mov*
*.flv*
*.avi*
*.ogv*
*.ogg*
*.webm*