extends layout

block head
  style.
    .bg-twofactor {
      color: rgba(255, 255, 255, 1);
      background-color: rgba(0, 0, 0, .5);
    }

block content
  div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
    h1(class="h2") Definições de Segurança
  div(class="col-12")
    p(class="text-wrap")
      | Olá #[b(class="text-mave1 text-capitalize" id="usr-username") ???]/#[b(class="text-mave1 text-capitalize") #{privilege} #{">"}] Seu caminho de navegação atual é #[b(class="text-mave1") #{router}]
  div(class="d-flex flex-column col-12 mt-3")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="menu-storage col-12 nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Configurações Gerais
    div(class="tab-content col-12" id="nav-tabContent")
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="col-12 mt-3 border-bottom")
          div(class="row")
            div(class="col-12 mb-2 fw-bold text-muted text-center")
              h4(class="fw-bold text-center text-muted border-bottom p-2") Mudança de Senha
            div(class="col-12 mb-3")
              label(for="password-actual") Senha Atual
              input(type="password" class="form-control mb-2" id="password-actual")
            div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-3")
              label(for="password-new") Nova Senha
              input(type="password" class="form-control" id="password-new")
            div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-2")
              label(for="password-new-confirm") Confirme a nova senha
              input(type="password" class="form-control mb-2" id="password-new-confirm")
            div(class="col-12 text-muted")
              div(class="alert alert-secondary" role="alert")
                | Utilize senhas com letras, numeros, caracteres especiais.
              div(class="alert alert-secondary" role="alert")
                | Não utilize senhas conhecidas como: 123, abcd, a1b2b3...
              div(class="alert alert-secondary" role="alert")
                | Nós não temos posse de sua senha, lembre-se de armazenada em um local seguro, para se lembrar depois.
            div(class="col-12 mb-3")
              button(type="button" class="btn btn-mave1 col-12" id="button-define-new-password" disabled) Definir a nova senha
            div(class="col-12 mb-2 fw-bold text-muted text-center")
              h4(class="fw-bold text-center text-muted border-bottom p-2") Configuração de Autenticação
            if (!twofactor_enabled)
              div(class="col-12 mb-3")
                label(for="sessions-auth-OATH-selected") Autenticação de dois fatores
                select(class="form-select mb-2" id="sessions-auth-OATH-selected" onchange="$('#sessions-auth-OATH-selected').val() !== 'null' ? $('#button-generate-qr-code').attr('disabled', false) : $('#button-generate-qr-code').attr('disabled', true)")
                  option(value="true") Habilitado
                  option(selected value="null") Desabilitado
                button(type="button" class="btn btn-mave1 col-12" id="button-generate-qr-code" onclick="window.app.signtwofactor()" disabled) Gerar QR CODE
            else
              div(class="col-12 mb-3")
                label(for="sessions-auth-OATH-disabled") Autenticação de dois fatores
                button(type="button" class="btn btn-mave1 col-12" id="sessions-auth-OATH-disabled" onclick="window.app.disabledtwofactor()") Desabilitar
  script(src="/javascripts/public/auth-security.js")