extends layout

append content
  div(class="row" style="margin-top: -100vh;")
    nav(class="col-12 mt-2")
      div(class="nav nav-tabs" id="nav-tab" role="tablist")
        a(class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true") Informações Gerais
    div(class="tab-content col-12" id="nav-tabContent")
      //- Informações Gerais
      div(class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab")
        div(class="row border-bottom mt-3")
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="benefits-description") Tipo de beneficio
            select(class="form-select" id="select-benefits")
              option(selected value="null") Selecione uma opção
              option Benefícios Social Familiar Facilities
              option Benefícios Social Familiar Segurança
              option PLR Facilities
              option PLR Segurança
              option Seguro de vida Segurança
              option Vale Transporte (escala 4x2)
              option Vale Transporte (escala 5x2)
              option Vale Transporte (escala 6x1)
              option Vale Transporte (escala 6x2)
              option Vale Transporte (escala 12x36)
              option Vale Refeição (escala 4x2)
              option Vale Refeição (escala 5x2)
              option Vale Refeição (escala 6x1)
              option Vale Refeição (escala 6x2)
              option Vale Refeição (escala 12x36)
              option Cesta Básica
              option ASO / Exames
              option Outro
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="benefits-description") Descrição
            input(type="text" class="form-control" id="benefits-description" disabled)
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="benefits-quantity") Quantidade
            input(type="number" class="form-control" id="benefits-quantity" value="0" disabled)
          div(class="col-sm-12 col-md-12 col-lg-6 col-xl-6 mb-5")
            label(for="benefits-value") Valor
            input(type="text" class="form-control" id="benefits-value" value="0" disabled)
          div(class="col-12 mb-5")
            label(for="benefits-total") R$ Total
            input(type="text" class="form-control" id="benefits-total" value="0" disabled)
        div(class="bd-callout bd-callout-warning mt-2")
          h5 Benefícios Social Familiar Facilities
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado.
        div(class="bd-callout bd-callout-warning")
          h5 Benefícios Social Familiar Segurança
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado.
        div(class="bd-callout bd-callout-warning")
          h5 PLR Facilities
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado. #[br]
            | - Formula: Valor/12*0,85 #[br]
        div(class="bd-callout bd-callout-warning")
          h5 PLR Segurança
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado.
        div(class="bd-callout bd-callout-warning")
          h5 Seguro de vida Segurança
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado.
        div(class="bd-callout bd-callout-warning")
          h5 Vale Transporte
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado. #[br]
            | - Formula 12x36: Valor*2*15-(Piso Salarial*6%) #[br]
            | - Formula 6x2: Valor*2*24-(Piso Salarial*6%) #[br]
            | - Formula 6x1: Valor*2*26-(Piso Salarial*6%) #[br]
            | - Formula 5x2: Valor*2*22-(Piso Salarial*6%) #[br]
            | - Formula 4x2: Valor*2*20-(Piso Salarial*6%) #[br]
        div(class="bd-callout bd-callout-warning")
          h5 Vale Refeição
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado. #[br]
            | - Formula 12x36: Valor*15 #[br]
            | - Formula 6x2: Valor*24 #[br]
            | - Formula 6x1: Valor*26 #[br]
            | - Formula 5x2: Valor*22 #[br]
            | - Formula 4x2: Valor*20 #[br]
        div(class="bd-callout bd-callout-warning")
          h5 Cesta Básica
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado.
        div(class="bd-callout bd-callout-warning")
          h5 ASO / Exames
          h6(class="p-2 text-muted")
            | - A quantidade possui automação e por isso não pode ser definida por aqui. #[br]
            | - O valor poderá ser alterado.
  script(src="/javascripts/lz-string.min.js")
  script.
    $(() => {
      $('#benefits-value, #benefits-total').priceFormat({
        prefix: 'R$ ',
        centsSeparator: ',',
        thousandsSeparator: '.'
      });

      $('#benefits-quantity, \
        #benefits-value \
      ').change(function() {
        let value = Number($('#benefits-value').unmask()),
          quantity = $('#benefits-quantity').val() != '-' ? Number($('#benefits-quantity').val()) : 1,
          calculate = Math.round(Number(value*quantity).toFixed(2));

        $('#benefits-total').val(calculate).priceFormat({
          prefix: 'R$ ',
          centsSeparator: ',',
          thousandsSeparator: '.'
        });
      })

      $('#select-benefits').change(function (e) {
        let option = $(e.target).val();
        switch(option) {
          case 'Benefícios Social Familiar Facilities':
          case 'Benefícios Social Familiar Segurança':
          case 'PLR Facilities':
          case 'PLR Segurança':
          case 'Seguro de vida Segurança':
          case 'Vale Transporte (escala 4x2)':
          case 'Vale Transporte (escala 5x2)':
          case 'Vale Transporte (escala 6x1)':
          case 'Vale Transporte (escala 6x2)':
          case 'Vale Transporte (escala 12x36)':
          case 'Vale Refeição (escala 4x2)':
          case 'Vale Refeição (escala 5x2)':
          case 'Vale Refeição (escala 6x1)':
          case 'Vale Refeição (escala 6x2)':
          case 'Vale Refeição (escala 12x36)':
          case 'Cesta Básica':
          case 'ASO / Exames':
            $('#benefits-description').attr('disabled', true).val(option);
            $('#benefits-quantity').attr({ 'disabled': true, 'type': 'text'}).val('-');
            $('#benefits-value').attr('disabled', false);
            return $('#benefits-value, #benefits-total').val(0).priceFormat({
              prefix: 'R$ ',
              centsSeparator: ',',
              thousandsSeparator: '.'
            });
          case 'Outro':
            $('#benefits-description').attr('disabled', false).val('');
            $('#benefits-quantity').attr({ 'disabled': false, 'type': 'number'}).val(0);
            $('#benefits-value').attr('disabled', false);
            return $('#benefits-value, #benefits-total').val(0).priceFormat({
              prefix: 'R$ ',
              centsSeparator: ',',
              thousandsSeparator: '.'
            });
          default:
            $('#benefits-description').attr('disabled', true).val('');
            $('#benefits-quantity').attr({ 'disabled': true, 'type': 'number'}).val(0);
            $('#benefits-value').attr('disabled', true);
            return $('#benefits-value, #benefits-total').val(0).priceFormat({
              prefix: 'R$ ',
              centsSeparator: ',',
              thousandsSeparator: '.'
            });
        }
      });

      $(window).bind('beforeunload', function() {
        return 'Você tem certeza de que quer sair?';
      });
    })

    function gotoSystem() {
      return document.location = `${baseurl}/system/benefits?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }

    let send_interval = null,
      send_valid = null;

    function send() {
      send_valid = true;

      if ($('#benefits-description').val().length <= 0) {
        $('#benefits-description').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#benefits-quantity').val().length <= 0) {
        $('#benefits-quantity').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#benefits-value').val().length <= 0) {
        $('#benefits-value').addClass('is-invalid');
        send_valid = false;
      }

      if ($('#benefits-total').val().length <= 0) {
        $('#benefits-total').addClass('is-invalid');
        send_valid = false;
      }

      if (!send_valid) {
        alerting('Existem campos obrigatórios não preenchidos e/ou invalidos.');

        if (send_interval) {
          clearTimeout(send_interval);
          send_interval = null;
        }

        send_interval = setTimeout(function() {
          $('\
            #benefits-description, \
            #benefits-quantity, \
            #benefits-value, \
            #benefits-total \
          '.trim()).removeClass('is-invalid');
        }, 1000)
      }

      if (!send_valid) return;

      loading(true);

      axios.request({
        method: 'POST',
        url: `${baseurl}/system/benefits/register`,
        headers: {
          "Content-Type": "application/json",
          "usr_token": localStorage.getItem('usr-token'),
          "usr_internetadress": localStorage.getItem('usr-internetadress')
        },
        data: {
          "description": String($("#benefits-description").val()),
          "quantity": $('#benefits-quantity').val() != '-' ? Number($('#benefits-quantity').val()) : 0,
          "value": Number($('#benefits-value').unmask()),
          "total": Number($('#benefits-total').unmask())
        }
      })
      .then(() => {
        alerting(`Beneficio registrado com sucesso!`);
        $('#select-benefits').val('null').trigger('change');
        loading(false);
      })
      .catch(error => {
        alerting(`Ocorreu um erro inesperado, fale com o administrador do sistema.`);
        console.log(error);
        loading(false);
      })
    }