extends layout

block content
  div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
    h1(class="h2") Ambiente Digital Interativo.
  div(class="list-group")
    a(href="#" class="list-group-item list-group-item-action" aria-current="true")
      div(class="d-flex w-100 justify-content-between")
        h5(class="mb-1") Carlins Ferraz
        small Layout. 1.0
      p(class="mb-1") Presidente
      small Clique para visualizar.