extends layout

block content
  div(class="row")
    div(class="col-12 border-bottom border-dark mb-5")
      h1(class="text-center mt-3 mb-3") Lista de atualizações
      div(class="row mx-auto mb-5")
        ul(class="list-group list-group-horizontal text-white fw-bold text-truncate")
          li(class="list-group-item bg-mave1 bg-gradient border-light col-4") Descrição
          li(class="list-group-item bg-mave1 bg-gradient border-light col-4") Data
          li(class="list-group-item bg-mave1 bg-gradient border-light col-4") Versão
        ul(class="list-group list-group-horizontal text-white fw-bold text-truncate")
          li(class="list-group-item bg-mave1 bg-gradient border-light col-4") Teste
          li(class="list-group-item bg-mave1 bg-gradient border-light col-4") 04/01/2021
          li(class="list-group-item bg-mave1 bg-gradient border-light col-4") 1.0
    div(class="col-12 border-bottom border-dark mb-5")
      h1(class="text-center mt-3 mb-3") Central de Ajuda
      div(class="card mb-5")
        div(class="card-header bg-secondary bg-gradient text-white fs-5 fw-bold")
          | Se eu perder meu celular, será possível entrar utilizando a autenticação de dois fatores?
        div(class="card-body bg-mave1 bg-gradient text-white")
          blockquote(class="blockquote text-white mb-0")
            p
              | Você poderá recuperar sua conta caso perda seu autenticador.
            footer(class="blockquote-footer text-white fw-bold") Atenciosamente, Equipe de TI.
      div(class="card mb-5")
        div(class="card-header bg-secondary bg-gradient text-white fs-5 fw-bold")
          | Vocês tem acesso a minha senha, posso solicita-la em caso de perda?
        div(class="card-body bg-mave1 bg-gradient text-white")
          blockquote(class="blockquote text-white mb-0")
            p
              | Não, nós armazenamos sua senha de forma criptografada, a mesma não pode ser descoberta por ninguém, a não ser por você mesmo.
            footer(class="blockquote-footer text-white fw-bold") Atenciosamente, Equipe de TI.
  script(src="/javascripts/lz-string.min.js")
  script.
    $(()=> {
    })

    function gotoSystem() {
      document.location = `${baseurl}/system/?usr_token=${localStorage.getItem('usr-token')}&usr_internetadress=${localStorage.getItem('usr-internetadress')}`;
    }