extends layout

append content
  div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
    h1(class="h2") Bem-Vindo(a)
  div(class="d-flex flex-column col-12 p-2")
    img(src=`/images/tecnologia_e_inovacao.jpg` class="img-fluid col-12 mx-auto d-block shadow")
    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
  script(src="/javascripts/index.min.js")