extends layout

append content
  div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
    h1(class="h2") Ambiente Digital Interativo
  video(
    class="col-12"
    playsinline controls crossorigin data-poster="/assets/Godzilla vs King Kong.jpg"
    style="--plyr-color-main: #f6d816; --plyr-captions-text-color: #f6d816; --plyr-captions-background: rgba(0, 0, 0, 0.8);"
  )
    source(ref="source" src="/godzilla-trailer-2021.m3u8" type="application/x-mpegURL")
  audio(
    crossorigin playsinline
    style="--plyr-color-main: #f6d816; --plyr-captions-text-color: #f6d816; --plyr-captions-background: rgba(0, 0, 0, 0.8);"
  )
    source(src='/stream2' type='audio/mpeg')
  table(class="table")
    thead
      tr
        th(scope="col") #
        th(scope="col") Colaborador(a)
        th(scope="col") Data de Aniversário
    tbody
      tr
        th(scope="row") 1
        td(class="text-wrap") Luiz Guilherme dos Santos
        td(class="text-wrap") 17/02/2021
      tr
        th(scope="row") 2
        td(class="text-wrap") Ewerton Jose Ordine de Arruda
        td(class="text-wrap") 14/02/2021
      tr
        th(scope="row") 3
        td(class="text-wrap") Guilherme Caamano da Silva
        td(class="text-wrap") 10/02/2021
  script.
    document.addEventListener('DOMContentLoaded', () => {
      const audio = document.querySelector('audio');
      const playerAudio = new Plyr(audio, {
        title: 'Reis da Revoada',
        storage: { enabled: true, key: 'plyr_audio' },
        tooltips: { controls: true, seek: true },
        seekTime: 5,
        controls: [
          'play-large', // The large play button in the center
          'restart', // Restart playback
          'rewind', // Rewind by the seek time (default 10 seconds)
          'play', // Play/pause playback
          'fast-forward', // Fast forward by the seek time (default 10 seconds)
          'progress', // The progress bar and scrubber for playback and buffering
          'current-time', // The current time of playback
          'duration', // The full duration of the media
          'mute', // Toggle mute
          'volume', // Volume control
          'settings', // Settings menu
        ]
      });

      // Expose player so it can be used from the console
      window.playerAudio = playerAudio;

      const video = document.querySelector('video'),
        source = video.getElementsByTagName("source")[0].src;

      // For more options see: https://github.com/sampotts/plyr/#options
      // captions.update is required for captions to work with hls.js

      if (!Hls.isSupported()) {
        video.src = source;
      } else {
        // For more Hls.js options, see https://github.com/dailymotion/hls.js
        const hls = new Hls({ debug: false, autoStartLoad: true });
        hls.attachMedia(video);
        hls.loadSource(source);

        hls.on(Hls.Events.MANIFEST_PARSED, function (event, data) {
        // For more options see: https://github.com/sampotts/plyr/#options
        // captions.update is required for captions to work with hls.js
        const availableQualities = hls.levels.map((level) => Number(level.attrs.RESOLUTION_NAME)).reverse(),
          customOptions = {
            title: 'Trailer do Godzilla vs King Kong | Abril, 2021',
            tooltips: { controls: true, seek: true },
            storage: { enabled: true, key: 'plyr' },
            seekTime: 5,
            controls: [
              'play-large', // The large play button in the center
              'restart', // Restart playback
              'rewind', // Rewind by the seek time (default 10 seconds)
              'play', // Play/pause playback
              'fast-forward', // Fast forward by the seek time (default 10 seconds)
              'progress', // The progress bar and scrubber for playback and buffering
              'current-time', // The current time of playback
              'duration', // The full duration of the media
              'mute', // Toggle mute
              'volume', // Volume control
              'captions', // Toggle captions
              'settings', // Settings menu
              'pip', // Picture-in-picture (currently Safari only)
              'airplay', // Airplay (currently Safari only)
              'download', // Show a download button with a link to either the current source or a custom URL you specify in your options
              'fullscreen', // Toggle fullscreen
            ],
            captions: { active: true, update: true, language: 'pt' },
            quality: {
              default: availableQualities[0],
              options: availableQualities,
              forced: true,
              onChange: (newQuality) => updateQuality(newQuality)
            },
            previewThumbnails: { enabled: true, src: "/thumbs/d419fbc3b1d4e01956322ca20b227fe176edbe9c1/thumb.vtt" },
            invertTime: false
          }

          const player = new Plyr(video, customOptions);

          // Handle changing captions
          player.on('languagechange', () => {
            // Caption support is still flaky. See: https://github.com/sampotts/plyr/issues/994
            setTimeout(() => hls.subtitleTrack = player.currentTrack, 50);
          });

          function updateQuality(newQuality) {
            let _hls = window.hls || hls;

            _hls.levels.map((level, indexLevel) => {
              if (newQuality === Number(level.attrs.RESOLUTION_NAME)) {
                _hls.currentLevel = indexLevel;
                _hls.loadLevel = indexLevel;
                _hls.startLoad();
                console.log('CHANGE QUALITY FOR', newQuality, indexLevel);
              }
            })
          }

          // Expose player so it can be used from the console
          window.player = player;
          window.hls = hls;

          let plyr_storage = JSON.parse(localStorage.getItem('plyr'));
          if (plyr_storage) {
            if (plyr_storage.quality != undefined)
              updateQuality(JSON.parse(localStorage.getItem('plyr')).quality);
          }
        });
      }
    });