extends layout

append content
  div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
    h1(class="h2") Ambiente Digital Interativo!
  img(src="/assets/Aniversarios.png" class="img-fluid mb-2 h-60" alt="Parabéns!")
  table(class="table")
    thead
      tr
        th(scope="col") #
        th(scope="col") Colaborador(a)
        th(scope="col") Data de Aniversário
    tbody
      tr
        th(scope="row") 1
        td(class="text-wrap") Luiz Guilherme dos Santos
        td(class="text-wrap") 17/02/2021
      tr
        th(scope="row") 2
        td(class="text-wrap") Ewerton Jose Ordine de Arruda
        td(class="text-wrap") 14/02/2021
      tr
        th(scope="row") 3
        td(class="text-wrap") Guilherme Caamano da Silva
        td(class="text-wrap") 10/02/2021