extends ../layout

append content
    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
        h1(class="h2") Hercules Storage
    div(class="col-12")
        p(class="text-wrap")
            | Olá #[b(class="text-mave1 text-capitalize" id="usr-username")]/#[b(class="text-mave1 text-capitalize") #{privileges} #{">"}] Seu caminho de navegação atual é #[b(class="text-mave1") #{router}]
    div(class="col-12" id="container-main")
        div(class="d-flex flex-nowrap p-2 justify-content-center" id="container-buttons-create")
        div(class="d-flex flex-nowrap p-2 justify-content-center" id="container-buttons-actions")
        ul(class="nav nav-tabs" role="tablist")
            li(class="nav-item col-12 col-md" role="presentation")
                button(button class="nav-link col-12 text-primary fw-bold active" id="files-tab" data-bs-toggle="tab" data-bs-target="#container-content" type="button" role="tab" aria-controls="container-content" aria-selected="true")
                    | Pastas/Arquivos
            li(class="nav-item col-12 col-md" role="presentation")
                button(class="nav-link col-12 text-danger fw-bold" id="trash-tab" data-bs-toggle="tab" data-bs-target="#container-trash" type="button" role="tab" aria-controls="container-trash" aria-selected="false")
                    | Lixeira
        div(class="tab-content")
            div(class="tab-pane p-2 fade show active" id="container-content" role="tabpanel" aria-labelledby="files-tab")
            div(class="tab-pane p-2 fade" id="container-trash" role="tabpanel" aria-labelledby="trash-tab")
    script.
        (function () {
            'use strict';

            window.app = window.app || {};
            window.app.compressData = JSON.parse(LZString.decompressFromEncodedURIComponent("#{compressData}"));
        })();
    script(src="/javascripts/hercules.min.js")