@import "../layout.scss";

.app-container-page {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .flex-wrap;
    @extend .flex-md-nowrap;
    @extend .align-items-center;
    @extend .pt-3;
    @extend .pb-2;
    @extend .mb-3;
    @extend .border-bottom;
}

.app-content-title-page {
    @extend .col-12;

    p {
        @extend .text-wrap;

        b {
            @extend .text-primary;
            @extend .text-capitalize;
        }
    }
}

.app-container-card {
    @extend .list-group-item;
    @extend .list-group-item-action;
    @extend .col-12;
    @extend .bg-light-gray;

    cursor: pointer;

    .app-content-card {
        @extend .d-flex;
        @extend .flex-lg-row;
        @extend .flex-sm-column;
        @extend .justify-content-between;

        small {
            @extend .text-sm-center;
        }

        .app-content-group-1-card {
            @extend .col;
            @extend .col-lg-1;
            @extend .col-md-10;
            @extend .mx-md-auto;

            img {
                @extend .rounded-circle;
                @extend .mx-auto;
                @extend .mt-4;
                @extend .mt-lg-3;
                @extend .mt-md-3;
                @extend .d-block;
                @extend .shadow;
                width: 80;
                height: 80;
            }

            button {
                @extend .btn;
                @extend .btn-outline-primary;
                @extend .col-12;
                @extend .mt-2;
                @extend .btn-sm;
            }
        }

        .app-content-group-2-card {
            @extend .d-flex;
            @extend .flex-column;
            @extend .col;
            @extend .col-lg-10;
            @extend .p-2;
            @extend .text-lg-start;
            @extend .text-sm-center;

            h5,
            p {
                @extend .mb-1;
            }

            div {
                @extend .d-flex;
                @extend .flex-column;
                @extend .flex-lg-row;
                @extend .col-12;
                @extend .justify-content-start;

                button {
                    @extend .btn;
                    @extend .btn-primary;
                    @extend .col-12;
                    @extend .col-lg-4;
                    @extend .btn-sm;
                    @extend .my-2;

                    &.first {
                        @extend .me-2;
                    }

                    &.second {
                        @extend .me-0;
                    }
                }

                small {
                    @extend .col;
                    @extend .px-2;
                    @extend .text-truncate;
                    @extend .text-center;
                }
            }
        }
    }
}

.app-content-page {
    @extend .input-group;
    @extend .flex-nowrap;
    @extend .my-3;

    span {
        @extend .input-group-text;
    }

    input {
        @extend .form-control;
        @extend .col-6;
    }
}

.app-content-page-2 {
    @extend .list-group;
    @extend .border-top;
    @extend .p-2;
}
