div(class="offcanvas offcanvas-start bg-mave1" tabindex="-1" id="offcanvas_preferences" aria-labelledby="offcanvas_preferencesLabel")
    div(class="offcanvas-header")
        h5(class="offcanvas-title text-mave2 fw-bold" id="offcanvas_preferencesLabel")
            | Preferências
        button(type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas" aria-label="Close")
    div(class="offcanvas-body bg-light bg-gradient")
        h5.border-bottom Testando