extends ../layout

append content
  div(class="d-flex flex-column col-12")
    h1(class="text-center mt-auto") #{title}
    h6(class="text-center mb-auto") #{message}
  script.
    $(()=> {
      console.info("#{error}");
    })