extends ../layout

append content
    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
        h1(class="h2") Painel de Controle
    div(class="col-12")
        p(class="text-wrap")
            | Olá #[b(class="text-mave1 text-capitalize" id="usr-username")]/#[b(class="text-mave1 text-capitalize") #{privilege} #{">"}] Seu caminho de navegação atual é #[b(class="text-mave1") #{router}]
    div(class="d-flex flex-column flex-lg-row col-12 p-2 my-2")
        div(class="col-12 h-50 p-2 border d-flex justify-content-center")
            canvas(id="chart-total-users")
    div(id="activities-list")
        div(class="d-flex flex-column flex-lg-row col-12 p-2 my-2 border-bottom")
            div(class="w-100")
                h1(class="h2") Atividades recentes
            div(class="col-12 col-lg-6 flex-lg-shrink-1 ms-2")
                div(class="input-group flex-nowrap")
                    span(class="input-group-text" id="addon-wrapping") #[i(class="bi bi-search")]
                    input(type="text" class="form-control fuzzy-search" placeholder="Procurar..." aria-label="search" aria-describedby="addon-wrapping")
        p(class="fw-bold text-mave1 ms-2") As últimas 100 atividades mais recentes serão retornadas.
        ul(class="list" style="padding: 0; list-style-type: none;")
    div(style="display:none;")
        //-  Um elemento de modelo é necessário quando a lista está vazia.
        li(id="activities-item" class="d-flex flex-row bd-callout bd-callout-mave1")
            div(class="w-100 fs-5 fw-bold text-mave1")
                div(class="d-flex flex-row")
                    p #[span(class="badge bg-mave1 text-white") #[i(class="bi bi-clock-history")]]
                    p(class="created ms-2") Criado em:
                div(class="d-flex flex-row")
                    p #[span(class="badge bg-mave1 text-white") #[i(class="bi bi-wifi")]]
                    p(class="ipremote ms-2") Endereço Remoto:
                div(class="d-flex flex-row")
                    p #[span(class="badge bg-mave1 text-white") #[i(class="bi bi-person")]]
                    p(class="auth ms-2") Usuário:
                div(class="d-flex flex-row")
                    p #[span(class="badge bg-mave1 text-white") #[i(class="bi bi-shield-lock")]]
                    p(class="privilege ms-2") Cargo:
                div(class="d-flex flex-row")
                    p #[span(class="badge bg-mave1 text-white") #[i(class="bi bi-terminal")]]
                    p(class="roadmap ms-2") Rotina:
            div(class="col flex-lg-shrink-1 fs-4 fw-bold text-mave1")
                div(class="d-flex flex-row")
                    p #[i(class="bi bi-bug-fill")]
                    p(class="index ms-2") #1
    script(src="/javascripts/cpanel.min.js")