extends ../layout

append head
    link(rel="stylesheet" href="/stylesheets/manuals.min.css")
append content
    div(class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom")
        h1(class="h2") #{id}
    div(class="col-12")
        p(class="text-wrap")
            | Olá #[b(class="text-mave1 text-capitalize" id="usr-username")]/#[b(class="text-mave1 text-capitalize") #{privilege} #{">"}] Seu caminho de navegação atual é #[b(class="text-mave1") #{router}]
    div
        if (id === 'HELPDESK')
            include ../includes/manuals/helpdesk.pug
        else if(id === 'MONDAY')
            include ../includes/manuals/monday.pug