// ------------------------------------------------------------------------------
// Author: GuilhermeSantos001
// Updated: 28/08/2021
//

$primary: #004a6e;
$secondary: #f6d816;
$light-gray: #f1f1f1;
$dark-gray: #414141;

$body-bg: #f5f5f5;
$body-color: #004a6e;

$input-bg: #fafafa;

$component-active-color: $dark-gray;
$component-active-bg: #e0e0e0;

$link-hover-color: #ebcd0f;
$nav-tabs-link-active-color: #ebcd0f;
$nav-pills-link-active-color: #ebcd0f;
$nav-link-font-size: 14px;
$nav-link-font-weight: bold;

$offcanvas-bg-color: $light-gray;

$accordion-button-active-bg: $primary;
$accordion-button-active-color: $secondary;

@import "../../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../../node_modules/bootstrap-icons/font/bootstrap-icons.css";
@import "../../../node_modules/jquery-contextmenu/src/sass/jquery.contextMenu.scss";
@import "../../../node_modules/plyr/src/sass/plyr.scss";

// Bootstrap custom variables
$colors-custom: (
    "light-gray": $light-gray,
    "dark-gray": $dark-gray,
);

$theme-colors: map-merge($theme-colors, $colors-custom);

@import "../plugins/please-wait/margin.scss";
@import "../plugins/spinkit/all.scss";
@import "../plugins/file-explore/all.scss";

// Themes
@import "dark.scss";

.bg-light-gray {
    background-color: map-get($theme-colors, "light-gray");
}
.bg-dark-gray {
    background-color: map-get($theme-colors, "dark-gray");
}

.text-light-gray {
    color: map-get($theme-colors, "light-gray");
}
.text-dark-gray {
    color: map-get($theme-colors, "dark-gray");
}

.visibility-eye:hover {
    cursor: pointer;
    color: map-get($theme-colors, "secondary");
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.pg-loading-screen.pg-loading .pg-loading-logo-header,
.pg-loading-screen.pg-loading .pg-loading-html:not(.pg-loaded) {
    -webkit-animation: pgAnimLoading 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
    animation: pgAnimLoading 0.5s cubic-bezier(0.7, 0, 0.3, 1) both;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    z-index: 100;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.5);
}

.sidebar-heading {
    font-size: 0.75rem;
    text-transform: uppercase;
}

.navbar .navbar-toggler {
    top: 0.25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: 0.75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.ui-autocomplete {
    margin-bottom: 10vh;
    max-height: 20vh;
    overflow-y: auto; /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index: 1000 !important;
}

button:disabled,
a:disabled,
textarea:disabled,
input:disabled {
    cursor: not-allowed;
}

input[type="file"] {
    cursor: pointer;
}

html {
    -webkit-transition: all 5s ease;
    -moz-transition: all 5s ease;
    -o-transition: all 5s ease;
    transition: all 5s ease;
}

#buttonToTop.show {
    opacity: 1;
    visibility: visible;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid $gray-300;
    border-left-width: 0.25rem;
    border-radius: 0.25rem;
}

.bd-callout h4 {
    margin-top: 0;
    margin-bottom: 0.25rem;
}

.bd-callout p:last-child {
    margin-bottom: 0;
}

.bd-callout code {
    border-radius: 0.25rem;
}

.bd-callout + .bd-callout {
    margin-top: -0.25rem;
}

.bd-callout-primary {
    border-left-color: map-get($theme-colors, "primary");
}

.bd-callout-primary h4 {
    color: map-get($theme-colors, "primary");
}

.mv-status-circle {
    width: 20px;
    height: 20px;
    margin: auto;
    border-radius: 10px;
}

.nav-item {
    cursor: pointer;
    font-size: small;
}

.alert-mave {
    color: #ffffff;
    background-color: map-get($theme-colors, "primary");
    border-color: map-get($theme-colors, "secondary");
}

.alert-mave .alert-link {
    color: map-get($theme-colors, "secondary");
}

#buttonMenu:hover {
    cursor: pointer;
    color: map-get($theme-colors, "secondary");
}

#buttonToTop {
    display: inline-block;
    background-color: map-get($theme-colors, "primary");
    color: #ffffff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 10px;
    position: fixed;
    bottom: -20px;
    right: 10px;
    transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
    opacity: 0;
    visibility: hidden;
    z-index: 999;
}

#buttonToTop::after {
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    line-height: 50px;
    color: #fff;
}

#buttonToTop:hover {
    cursor: pointer;
    background-color: map-get($theme-colors, "secondary");
}

#buttonToTop:active {
    background-color: map-get($theme-colors, "secondary");
}

.transition {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: $primary;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: $gray-300;
}

*::-webkit-scrollbar-thumb {
    background-color: $primary;
}