// ------------------------------------------------------------------------------
// Author: GuilhermeSantos001
// Updated: 28/08/2021
//

@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.dark {
    $primary: #242424;
    $secondary: #f6d816;
    $light-gray: #f1f1f1;
    $dark-gray: #414141;

    $body-bg: #383838;
    $body-color: #f6d816;

    $input-bg: #fafafa;

    $component-active-color: $dark-gray;
    $component-active-bg: #e0e0e0;

    $link-hover-color: #ebcd0f;
    $nav-tabs-link-active-color: #ebcd0f;
    $nav-pills-link-active-color: #ebcd0f;
    $nav-link-font-size: 14px;
    $nav-link-font-weight: bold;

    $offcanvas-bg-color: $light-gray;

    $accordion-button-active-bg: $primary;
    $accordion-button-active-color: $secondary;

    $theme-colors: (
        "primary": $primary,
        "secondary": $secondary,
        "success": $success,
        "danger": $danger,
        "info": $indigo,
        "dark": $dark,
        "light": $light,
    );

    /* redefine theme color variables */
    @each $color, $value in $theme-colors {
        --#{$variable-prefix}#{$color}: #{$value};
    }

    /* redefine theme color rgb vars (used for bg- colors) */
    $theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value");
    @each $color, $value in $theme-colors-rgb {
        --#{$variable-prefix}#{$color}-rgb: #{$value};
    }

    --#{$variable-prefix}body-color: #{$body-color};
    --#{$variable-prefix}body-bg: #{$body-bg};

    @import "../../../node_modules/bootstrap/scss/bootstrap.scss";
}
