//- Layout Padrão para os e-mails
html
    body(style="margin: 0; padding: 0;")
        table(align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse;")
            tr
                td(bgcolor="#004a6e" align="center" style="padding: 40px 0 30px 0; border: 1px solid #f6d816;")
                    img(src="https://i.imgur.com/awksObQ.png" alt="Grupo Mave" width="300" height="80" style="display: block;")
            tr
                td(bgcolor="#004a6e" style="padding: 20px; color: #f6d816; font-family: Arial, sans-serif; font-size: 20px; border: 1px solid #f6d816;")
                    | #{title || "Eu sou um titulo"}
            block content
            tr
                td(bgcolor="#ffffff" style="color: #004a6e; font-family: Arial, sans-serif; font-size: 24px; border: 1px solid #cccccc;")
                    table(border="1" cellpadding="0" cellspacing="0" width="100%" style="border-style: none;")
                        tr
                            td(width="260" valign="top" style="padding: 20px; color: #004a6e; font-family: Arial, sans-serif; font-size: 14px; border-style: none;")
                                img(src="https://i.imgur.com/IgnBHYt.png" alt="Grupo Mave" width="300" height="180" style="display: block;")
                                table(border="1" cellpadding="0" cellspacing="0" width="100%" style="border-style: none;")
                                    tr(style="padding: 10px;")
                                        td(border="0" cellpadding="0" cellspacing="0" style="border-style: none;")
                                            li #[a(href="https://grupomave.com.br/") Grupo Mave]
                                            li #[a(href="https://grupomavedigital.com.br/") Ambiente Digital Interativo]
                            td(width="260" valign="top" style="padding: 20px; color: #004a6e; font-family: Arial, sans-serif; font-size: 14px; border-style: none;")
                                img(src="https://i.imgur.com/IlVOFkM.png" alt="Grupo Mave" width="300" height="180" style="display: block;")
                                table(border="1" cellpadding="0" cellspacing="0" width="50%" style="border-style: none;")
                                    tr(style="padding: 10px;")
                                        td(border="0" cellpadding="0" cellspacing="0" style="border-style: none;")
                                            a(href="https://facebook.com/grupomaveoficial/")
                                                img(src="https://i.imgur.com/uVuW4aQ.png" alt="Facebook/grupomaveoficial" width="18" height="18" style="display: block;")
                                        td(border="0" cellpadding="0" cellspacing="0" style="border-style: none;")
                                            a(href="https://instagram.com/grupo.mave/")
                                                img(src="https://i.imgur.com/O0tscJn.png" alt="Instagram/grupo.mave" width="18" height="18" style="display: block;")
                                        td(border="0" cellpadding="0" cellspacing="0" style="border-style: none;")
                                            a(href="https://linkedin.com/company/grupo-mave/?originalSubdomain=pt")
                                                img(src="https://i.imgur.com/9Qv5qvW.png" alt="Linkedin/grupo-mave" width="18" height="18" style="display: block;")
                                        td(border="0" cellpadding="0" cellspacing="0" style="border-style: none;")
                                            a(href="https://youtube.com/channel/UC5y4IOAlxQ4eictbudG785g")
                                                img(src="https://i.imgur.com/yrXPqwK.png" alt="Youtube/channel/UC5y4IOAlxQ4eictbudG785g" width="18" height="18" style="display: block;")
                                        td(border="0" cellpadding="0" cellspacing="0" style="border-style: none;")
                                            a(href="https://api.whatsapp.com/send?phone=5511947841110&text=Bem-Vindo(a),%20informamos%20que%20este%20contato%20%C3%A9%20exclusivo%20da%20%C3%A1rea%20de%20vendas%20do%20Grupo%20Mave%20Seguran%C3%A7a%20e%20Servi%C3%A7os.%20N%C3%A3o%20aceitamos%20curr%C3%ADculo%20atrav%C3%A9s%20deste%20canal%20de%20comunica%C3%A7%C3%A3o.%20Para%20vagas%20de%20emprego%20enviar%20o%20curr%C3%ADculo%20para:%20beneficios@grupomave.com.br.%20Para%20or%C3%A7amentos%20envie%20sua%20mensagem%20que%20iremos%20lhe%20atender.%20Atendimento!%20Segunda%20%C3%A0%20Quinta-Feira:%2008:00%20-%2018:00%20|%20Sexta-Feira:%2008:00%20-%2017:00%20%20O%20Grupo%20Mave%20agradece%20seu%20contato!")
                                                img(src="https://i.imgur.com/uZlszlu.png" alt="Whatsapp/+55 11 94784-1110" width="18" height="18" style="display: block;")
                                table(border="1" cellpadding="0" cellspacing="0" width="100%" style="border-style: none;")
                                    tr(style="padding: 10px;")
                                        td(width="560" valign="top" style="color: #004a6e; font-family: Arial, sans-serif; font-size: 14px; border-style: none;")
                                            p SIGA-NOS
                                            p Entre em nossas redes sociais, e fique por dentro de nossos serviços!
            tr
                td(bgcolor="#004a6e" style="padding: 20px; color: #f6d816; font-family: Arial, sans-serif; font-size: 24px; border: 1px solid #f6d816;")
                    table(border="1" cellpadding="0" cellspacing="0" width="100%" style="border-style: none;")
                        tr
                            td(width="560" valign="top" style="padding: 20px; color: #f6d816; text-align: center; font-family: Arial, sans-serif; font-size: 14px; border-style: none;")
                                p
                                    | Grupo Mave Digital - 2021 © Todos direitos reservados. #[br] #[br]
                                    | R. Barão de Itaúna, 417 - Lapa - São Paulo SP CEP: 05078-080. #[br]
                                    | 11 3683-3408