//- E-mail para recuperar a conta caso o usuario tenha perdido a senha
extends default.pug

append content
    tr
        td(bgcolor="#ffffff" style="color: #004a6e; font-family: Arial, sans-serif; font-size: 24px; border: 1px solid #cccccc;")
            table(border="1" cellpadding="0" cellspacing="0" width="100%" style="border-style: none;")
                tr
                    td(width="520" valign="top" style="padding: 20px; color: #004a6e; text-align: justify; text-justify: inter-word; font-family: Arial, sans-serif; font-size: 14px; border-style: none;")
                        | Olá #{variables.username}, tudo bem? #[br]
                        | Recebemos uma solicitação para alterar sua senha, você a perdeu? #[br] #[br]
                        | #[li Caso tenha perdido acesse o link a baixo para alterar sua senha] #[br]
                        | #[li Use esse código para alterar sua senha: #{variables.signature}] #[br] #[br]
                        | #[a(href=`${variables.url}`) Alterar sua senha]
                tr
                    td(width="520" valign="top" style="padding: 20px; color: #004a6e; text-align: justify; text-justify: inter-word; font-family: Arial, sans-serif; font-size: 12px; border-style: none;")
                        | - Esse e-mail tem validade de 1 hora.
                        | - Caso você não tenha feito essa solicitação, ignore este e-mail.