//- E-mail de teste
extends default.pug

append content
    tr
        td(bgcolor="#ffffff" style="color: #004a6e; font-family: Arial, sans-serif; font-size: 24px; border: 1px solid #cccccc;")
            table(border="1" cellpadding="0" cellspacing="0" width="100%" style="border-style: none;")
                tr
                    td(width="520" valign="top" style="padding: 20px; color: #004a6e; text-align: justify; text-justify: inter-word; font-family: Arial, sans-serif; font-size: 14px; border-style: none;")
                        | Hey eu sou um teste! #[br]
                        | Se você está lendo isso, tudo funcionou muito bem e já estamos prontos para enviar e-mails.
                tr
                    td(width="520" valign="top" style="padding: 20px; color: #004a6e; text-align: justify; text-justify: inter-word; font-family: Arial, sans-serif; font-size: 12px; border-style: none;")
                        | - Esse e-mail é apenas um teste de serviço.