/* ----------- Mobile devices ----------- */

/* Portrait */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
    .phone-text {
        font-size: 0.7rem;
    }

    .phone-whatsapp {
        font-size: 1rem;
    }
}

/* Landscape */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
    .phone-text {
        font-size: 1rem;
    }

    .phone-whatsapp {
        font-size: 1.2rem;
    }
}

/* ----------- iPads, Tablets ----------- */

/* Portrait */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation: portrait) {
    .phone-text {
        font-size: 1rem;
    }

    .phone-whatsapp {
        font-size: 1rem;
    }
}

/* Landscape */
@media only screen and (min-device-width: 481px) and (max-device-width: 768px) and (orientation: landscape) {
    .phone-text {
        font-size: 1rem;
    }

    .phone-whatsapp {
        font-size: 1.2rem;
    }
}

/* ----------- Small screens, laptops ----------- */

/* Portrait */
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: portrait) {
    .phone-text {
        font-size: 1rem;
    }

    .phone-whatsapp {
        font-size: 1rem;
    }
}

/* Landscape */
@media only screen and (min-device-width: 769px) and (max-device-width: 1024px) and (orientation: landscape) {
    .phone-text {
        font-size: 1rem;
    }

    .phone-whatsapp {
        font-size: 1.2rem;
    }
}

/* ----------- Desktops, large screens ----------- */

/* Portrait */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) and (orientation: portrait) {
    .phone-text {
        font-size: 1.2rem;
    }

    .phone-whatsapp {
        font-size: 1.2rem;
    }
}

/* Landscape */
@media only screen and (min-device-width: 1025px) and (max-device-width: 1200px) and (orientation: landscape) {
    .phone-text {
        font-size: 1.5rem;
    }

    .phone-whatsapp {
        font-size: 1.8rem;
    }
}

/* ----------- Extra large screens, TV ----------- */

/* Portrait */
@media only screen and (min-device-width: 1201px) and (orientation: portrait) {
    .phone-text {
        font-size: 1rem;
    }

    .phone-whatsapp {
        font-size: 1rem;
    }
}

/* Landscape */
@media only screen and (min-device-width: 1201px) and (orientation: landscape) {
    .phone-text {
        font-size: 1rem;
    }

    .phone-whatsapp {
        font-size: 1rem;
    }
}
